<h1> change a page </h1>

<form action="update_movie">
  <input type="text" name="caption" placeholder="caption" value=" <%=@movie.caption%> ">
  
   <input type ="text" name="title" placeholder="title" value=" <%=@movie.title%> ">
  
  
  <input type ="text" name="url" placeholder="image url"  value=" <%=@movie.url%> " >
  
  <input type ="submit">
    
  
  
  
  
</form>